@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: hsl(210, 36%, 96%);
  font-family: "Open Sans", sans-serif;
}

nav {
  background: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.nav-center {
  max-width: 1170px;
  padding: 1rem;
}

img {
  width: 13rem;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.8rem;
}

button {
  border: none;
  background: transparent;
  font-size: 1.5rem;
}

li,
li a {
  text-decoration: none;
  list-style-type: none;
}

.links a {
  color: hsl(209, 34%, 30%);
  font-size: 1rem;
  display: block;
  font-weight: lighter;
  padding: 0.6rem 0rem;
  letter-spacing: 0.25rem;
  text-transform: capitalize;
  transition: all 0.3s linear;
}

.links a:hover {
  background: ;
  color: ;
  padding-left: ;
}
.social-icons {
  display: none;
}
/* .nav-center {
  max-width: 1170px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem;
  margin: 0 auto;
}
.nav-header img {
  width: 12.8rem;
  padding-top: 0.3rem;
  padding-left: 0.4rem;
}
.links {
  display: flex;
}

.links a {
  color: hsl(209, 34%, 30%);
  padding: 0;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  margin: 0 0.8rem;
  font-size: 1rem;
}

.links a:hover {
  padding: 0;
  background: transparent;
  color: hsl(205, 78%, 60%);
  transition: all 0.3s linear;
}

.social-icons {
  display: flex;
}

.social-icons a {
  color: hsl(205, 78%, 60%);
  padding: 0;
  margin: 0 0.7rem;
}
.social-icons a :hover {
  color: hsl(205, 86%, 81%);
  transition: all 0.3s linear;
}*/
