@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: hsl(210, 36%, 96%);
  font-family: "Open Sans", sans-serif;
  color: hsl(209, 61%, 16%);
  line-height: 1.5;
  font-size: 0.875rem;
}

.sidebar-toggle {
  position: fixed;
  top: 1.8rem;
  right: 2.8rem;
  background: transparent;
  border-color: transparent;
  color: hsl(205, 78%, 60%);
  font-size: 2rem;
  border-radius: none;
  transition: all 0.3s linear;
  cursor: pointer;
}

.sidebar-toggle:hover {
  color: hsl(205, 90%, 76%);
  animation: bounce 2s ease-in-out infinite;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

/* .sidebar {
  background: #fff;
  padding: 1rem;
} */

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}
.close-btn {
  background: transparent;
  border-color: transparent;
  font-size: 1.8rem;
  color: hsl(205, 78%, 60%);
  cursor: pointer;
  transition: all 0.3s linear;
  color: hsl(360, 67%, 44%);
}

.close-btn:hover {
  color: hsl(360, 71%, 66%);
  transform: rotate(360deg);
}

.logo {
  justify-self: center;
  height: 40px;
}

li,
li a {
  text-decoration: none;
  list-style-type: none;
}

.links{
  margin-top: 0.7rem;
}
.links a {
  display: block;
  font-size: 1.5rem;
  color: hsl(210, 22%, 49%);
  padding: 1rem 1.5rem;
}

.links a:hover{
  background: hsl(205, 78%, 60%);
  padding-left: 2rem;
  transition: all 0.3s linear;
}
.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 12.5rem;
}

.social-icons a {
  padding: 0 1.5rem;
  color: hsl(205, 78%, 60%);
  font-size: 1.5rem;
}

.social-icons a:hover{
  color: hsl(209, 61%, 16%);
}
