@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: hsl(210, 36%, 96%);
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  font-size: 0.875rem;
}

.sidebar-toggle {
  position: fixed;
  top: 1.8rem;
  right: 2.8rem;
  background: transparent;
  border-color: transparent;
  color: hsl(205, 78%, 60%);
  font-size: 2rem;
  border-radius: none;
  transition: all 0.3s linear;
  cursor: pointer;
}

.sidebar-toggle:hover {
  color: hsl(205, 90%, 76%);
  animation: bounce 2s ease-in-out infinite;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
