@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: hsl(210, 36%, 96%);
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  font-size: 0.875rem;
}

.nav-center {
  background: #fff;
  /* width: 100%;
  height: 100%; */
  padding: 0.6rem;
  margin: 0 auto;
}

.nav-header {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 14rem;
  justify-self: center;
}
.nav-toggle {
  border-color: transparent;
  background: transparent;
  padding-right: 1rem;
  font-size: 1.8rem;
  color: hsl(360, 67%, 44%);
  font-weight: bolder;
}
